<section class="content">

    <div class="col-md-6">
        <div class="box box-widget">

            <div class="box-body">
                <div class="box-body">
                    <img cl-src="{{vm.itemId}}" width="214" height="214" dpr="auto" fetch-format="auto"
                         alt="">
                    <!--<button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>-->

                </div>

            </div>

        </div>

    </div>
    <div class="col-md-6">
        <div class="box box-widget">
            <div class="box-header with-border">

                <div class="user-block">
                    <span class="username"><a href="#">Seller Name</a></span>
                    <span class="description"> Rating</span>
                </div>
            </div>

            <div class="box-body">
                <div class="box-body">
                    <h1>{{vm.itemName}}</h1>
                    <h2>Rs. {{vm.price}}</h2>
                    <h4>127 Views</h4>
                    <button type="button" class="btn btn-block btn-primary btn-lg">Call Now</button>
                </div>

            </div>
            <!-- /.box-body -->
            <!-- /.box-footer-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-widget">
                <div class="box-body">
                    <p>{{ vm.description }}</p>

                </div>
                <!-- /.box-body -->
                <!-- /.box-footer-->
            </div>
        </div>
    </div>
</section>