<section class="content">
    <div class="row">
        <form>
            <div class="col-md-6">
                <div class="box">

                    <div class="box-header with-border">
                        <h3 class="box-title">POST YOUR FREE AD</h3>
                    </div>
                    <!--File Upload Part-->
                    <!--
                    <div flow-init>
                        <span class="btn" flow-btn>Upload File</span>
                        &lt;!&ndash;
                        <tr ng-repeat="file in $flow.files">
                                                <td>{{$index+1}}</td>
                                                <td>{{file.name}}</td>
                                            </tr>&ndash;&gt;
                        <tr ng-repeat="file in $flow.files">
                            sad
                            <td>{{$index+1}}</td>
                            <td>{{file.name}}</td>
                        </tr>
                    </div>
                    -->


                    <div class="box-body">
                        <div class="box-tools">
                            <div class="form-group">
                                <label>District</label>
                                <select class="form-control" ng-model="vm.district">
                                    <option ng-repeat="district in vm.districts">{{district}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" ng-options="category.name for category in vm.categoryList"
                                        ng-model="vm.selectedCategory" ng-change="vm.changeSubCategory()">
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Sub Category</label>
                                <select class="form-control" ng-model="vm.selectedSubCategory"
                                        ng-options="subcategory.name for subcategory in vm.subCategoryList"
                                        ng-change="vm.changeItemDetails()">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" ng-model="vm.title"
                                       placeholder="Title">
                            </div>

                            <div class="form-group">
                                <label for="descriprion">Description</label>
                                <input type="text" class="form-control" id="descriprion" ng-model="vm.description"
                                       placeholder="Description">
                            </div>
                            <div class="form-group">
                                <label for="size">Price</label>
                                <input type="text" class="form-control" id="size" ng-model="vm.price"
                                       placeholder="Price">
                            </div>
                            <div class="form-group">
                                <label for="color">Contact Number</label>
                                <input type="text" class="form-control" id="color" ng-model="vm.contact"
                                       placeholder="ContactNumber">
                            </div>

                            <!--Image Past-->
                            <form name="mainImageForm">
                                <fieldset>
                                    <legend>Upload main image</legend>
                                    <input type="file" ngf-select ng-model="vm.mainFile" name="mainFile"
                                           ngf-resize="{width: 195, height: 243,centerCrop: true}" ngf-multiple="false"
                                           ngf-accept="'image/*'"
                                           ngf-validate="{size: {max: '5MB'}, pattern: '.jpg'}"
                                           required>
                                    <br/>
                                    <div class="product-f-image">
                                        <img ngf-thumbnail="vm.mainFile" class="thumb"
                                             ngf-size="{width: 195, height: 243, quality: 0.8}">
                                    </div>
                                    <span ng-show="!(mainImageForm.mainFile.$valid)">Please upload jpg image  size < 5 MB</span>
                                </fieldset>
                                <br/>
                            </form>

                            <form name="imagesForm">
                                <fieldset>
                                    <legend>Upload 3 Other images</legend>
                                    <input type="file" ngf-select ng-model="vm.files" name="file"
                                           ngf-resize="{width: 640, height: 640,centerCrop: true}" ngf-multiple="true" ngf-max-files="3"
                                           ngf-accept="'image/jpg'" required>
                                    <br/>
                                    <img ng-repeat="f in vm.files" ngf-thumbnail="f" class="thumb"
                                         ngf-size="{width: 320, height: 320, quality: 0.8}">
                                </fieldset>
                                <br/>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="">
                <div class="box">

                    <div class="box-body">
                        <div class="box-tools" ng-repeat="detailList in vm.subCategoryDetailList">
                            <div class="form-group" ng-if="detailList.type == 0">
                                <label>{{detailList.name}}</label>
                                <input type="text" class="form-control" id="itemDetail"
                                       placeholder="{{detailList.name}}"
                                       ng-model="a" ng-change="vm.changeDetailList0Values(detailList.id,a)">
                            </div>

                            <div class="form-group" ng-if="detailList.type == 1 || detailList.type == 2">
                                <label>{{detailList.name}}</label>
                                <select class="form-control" ng-options="data for data in detailList.dataList"
                                        ng-model="selectedModel"
                                        ng-change="vm.changeDetailList0Values(detailList.id,selectedModel)">
                                </select>
                            </div>

                            <div class="form-group" ng-if="detailList.type == 3">
                                <label>{{detailList.name}}</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" ng-if="vm.subCategoryDetailList != null">
                        <button class="btn btn-info pull-right" ng-click="vm.submitItem()">Submit</button>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        </form>
    </div>
</section>
