<script>
    $(document).ready(function () {
        $('#carousel-example-generic').carousel({
            interval: 3500
        });

        var clickEvent = false;
        $('#carousel-example-generic').on('click', '.nav a', function () {
            clickEvent = true;
            $('.nav li').removeClass('active');
            $(this).parent().addClass('active');
        }).on('slid.bs.carousel', function (e) {
            if (!clickEvent) {
                var count = $('.nav').children().length - 1;
                var current = $('.nav li.active');
                current.removeClass('active').next().addClass('active');
                var id = parseInt(current.data('slide-to'));
                if (count == id) {
                    $('.nav li').first().addClass('active');
                }
            }
            clickEvent = false;
        });
    });
</script>

<div class="container">
    <section class="content" style="padding: 15px 0px">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-default">
                    <div class="box-body" style="padding: 10px">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="Search for an item"
                                       ng-model="vm.searchText">
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option ng-repeat="district in vm.districts">{{ district }}</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <button style="width: 100%;" type="button" class="btn btn-primary btn-flat"
                                        ng-click="vm.routeToSearch()">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="box-body" style="padding: 0px">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">

                                <img src="resources/img/banner1.jpg" alt="First slide">

                                <!--<div class="carousel-caption">
                                    First Slide
                                </div>-->
                            </div>
                            <div class="item">
                                <img src="resources/img/banner2.jpg" alt="Second slide">

                                <!--<div class="carousel-caption">
                                    Second Slide
                                </div>-->
                            </div>
                            <div class="item">
                                <img src="resources/img/banner3.jpg" alt="Third slide">

                                <!--<div class="carousel-caption">
                                    Third Slide
                                </div>-->
                            </div>
                        </div>
                        <span class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </span>
                        <span class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </span>
                    </div>
                </div>


            </div>

            <div class="row" id="myBlank">

            </div>


            <div class="row">
                <div class="col-lg-3">
                    <div class="box box-widget widget-user-2">
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li><h4 style="margin-left: 15px">Categories</h4></li>
                                <li ng-click="vm.routeToCategory(1,'vehicles')"><a>Vehicles</a></li>
                                <li ng-click="vm.routeToCategory(2,'electronics')"><a>Electronics</a></li>
                                <li ng-click="vm.routeToCategory(3,'property')"><a>Property</a></li>
                                <li ng-click="vm.routeToCategory(4,'fashion')"><a>Fashion</a></li>
                                <li ng-click="vm.routeToCategory(5,'photography')"><a>Photography</a></li>
                                <li ng-click="vm.routeToCategory(6,'pets')"><a>Pets</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9">
                    <div class="row">
                        <h4 class="page-header" style="margin-bottom: 0px; cursor: pointer">Vehicles</h4>

                        <div class="col-sm-4 col-md-3 box-product-outer" ng-repeat="item in vm.vehicleList"
                             style="padding-bottoom: 30px">
                            <div class="box-product">
                                <div class="img-wrapper">
                                    <a ui-sref="404">
                                        <img src="https://s3.amazonaws.com/aduwata/images/Default/Under-construction.png"
                                             width="214" height="214" dpr="auto"
                                             fetch-format="auto"
                                             alt="">
                                    </a>
                                    <!--<div class="tags">
                                        <span class="label-tags"><span class="label label-danger">Sale</span></span>
                                        <span class="label-tags"><span class="label label-info">Featured</span></span>
                                        <span class="label-tags"><span class="label label-warning">Polo</span></span>
                                    </div>-->
                                    <div class="option">
                                        <!--<a href="#" data-toggle="tooltip" data-placement="bottom" title=""
                                           data-original-title="Add to Cart"><i
                                                class="ace-icon fa fa-shopping-cart"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title=""
                                           data-original-title="Compare"><i class="ace-icon fa fa-align-left"></i></a>-->
                                        <a ui-sref="404" data-toggle="tooltip" data-placement="bottom" title=""
                                           data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                    </div>
                                </div>
                                <h6><a ui-sref="404">{{item.name}}</a></h6>
                                <div class="price">
                                    <div>Rs. {{item.price}}
                                        <!--<span class="price-down">-10%</span>--></div>
                                    <!--<span class="price-old">$15.00</span>-->
                                </div>
                                <div class="rating">
                                    <!--<i class="ace-icon fa fa-star"></i>
                                    <i class="ace-icon fa fa-star"></i>
                                    <i class="ace-icon fa fa-star"></i>
                                    <i class="ace-icon fa fa-star"></i>
                                    <i class="ace-icon fa fa-star-half-o"></i>-->
                                    <a ui-sref="404">(2 views)</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <h4 class="page-header" style="margin-bottom: 0px; cursor: pointer">Electronics</h4>

                        <div class="col-sm-4 col-md-3 box-product-outer" ng-repeat="item in vm.electronicsList"
                             style="padding-bottom: 30px">
                            <div class="box-product">
                                <div class="img-wrapper">
                                    <a ui-sref="404">
                                        <img src="https://s3.amazonaws.com/aduwata/images/Default/Under-construction.png"
                                             width="214" height="214" dpr="auto"
                                             fetch-format="auto"
                                             alt="">
                                    </a>
                                    <div class="option">
                                        <a ui-sref="404" data-toggle="tooltip" data-placement="bottom" title=""
                                           data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                    </div>
                                </div>
                                <h6><a ui-sref="404">{{item.name}}</a></h6>
                                <div class="price">
                                    <div>Rs. {{item.price}}
                                    </div>
                                    <div class="rating">
                                        <a ui-sref="404">(2 views)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="page-header" style="margin-bottom: 0px; cursor: pointer">Property</h4>

                        <div class="col-sm-4 col-md-3 box-product-outer" ng-repeat="item in vm.propertyList"
                             style="padding-bottom: 30px">
                            <div class="box-product">
                                <div class="img-wrapper">
                                    <a ui-sref="404">
                                        <img src="https://s3.amazonaws.com/aduwata/images/Default/Under-construction.png"
                                             width="214" height="214" dpr="auto"
                                             fetch-format="auto"
                                             alt="">
                                    </a>
                                    <div class="option">
                                        <a ui-sref="404" data-toggle="tooltip" data-placement="bottom" title=""
                                           data-original-title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                    </div>
                                </div>
                                <h6><a ui-sref="404">{{item.name}}</a></h6>
                                <div class="price">
                                    <div>Rs. {{item.price}}
                                    </div>

                                </div>
                                <div class="rating">
                                    <a ui-sref="404">(2 views)</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </section>
</div>

<!-- End main content area -->
<!--<div class="container carouselMain">-->
<!--<h1>New Items</h1>-->
<!--<div class="container">-->
<!--<div id="carousel">-->
<!--<figure><a href="www.google.com"><img class="carousel" src="http://lorempixel.com/186/116/nature/1" alt=""></a>-->
<!--</figure>-->
<!--<figure><img class="carousel" src="http://lorempixel.com/186/116/nature/2" alt=""></figure>-->
<!--<figure><img class="carousel" src="http://lorempixel.com/186/116/nature/3" alt=""></figure>-->
<!--<figure><img class="carousel" src="http://lorempixel.com/186/116/nature/4" alt=""></figure>-->
<!--<figure><img class="carousel" src="http://lorempixel.com/186/116/nature/5" alt=""></figure>-->
<!--<figure><img class="carousel" src="http://lorempixel.com/186/116/nature/6" alt=""></figure>-->
<!--<figure><img class="carousel" src="http://lorempixel.com/186/116/nature/7" alt=""></figure>-->
<!--<figure><img class="carousel" src="http://lorempixel.com/186/116/nature/8" alt=""></figure>-->
<!--<figure><img class="carousel" src="http://lorempixel.com/186/116/people/9" alt=""></figure>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->