<section class="content">
    <div class="row">
        <div class="register-box-body">
            <div class="form-group">
                <label for="itemName">Name</label>
                <input type="text" class="form-control" id="itemName" ng-model="vm.itemName" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="descriprion">Description</label>
                <input type="text" class="form-control" id="descriprion" ng-model="vm.itemDescription"
                       placeholder="Description">
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" class="form-control" id="size" ng-model="vm.itemSize" placeholder="Size">
            </div>
            <div class="form-group">
                <label for="color">Color</label>
                <input type="text" class="form-control" id="color" ng-model="vm.itemColor" placeholder="Color">
            </div>
            <div class="form-group">
                <label for="used">Used</label>
                <input type="text" class="form-control" id="used" ng-model="vm.itemUsed" placeholder="Used">
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" file-model="vm.uploadFile">
                <p class="help-block">Please select some images for the item</p>
            </div>


            <form action="http://localhost:8080/rest/item/save_image" method="post" enctype="multipart/form-data">
                <input name="file" id="filename" type="file" file-model="vm.uploadFile"/><br><br>
                <button type="submit" class="btn btn-default" ng-click="vm.submitItem()">Submit</button>
            </form>


        </div>
    </div>
</section>